<div class="task-lists">
  <app-task-list *ngFor="let list of lists" [list]="list" class="list-container">
    <!-- <app-task-header [header]="list.name"></app-task-header> -->
    <!-- <app-task-item *ngFor="let task of list.tasks" [item]="task" class="list-item"></app-task-item> -->
    <mat-list>
        <!-- <ng-content></ng-content> -->
        <app-task-header [header]="list.name"></app-task-header>
        <mat-list-item *ngFor="let task of list.tasks" class="list-item">
          <app-task-item [item]="task"></app-task-item>
        </mat-list-item>
      </mat-list>
  </app-task-list>
  <button mat-fab type="button" (click)="openNewTaskDialog()" class="fab-button">
    <mat-icon>add</mat-icon>
  </button>
</div>