@import "~src/assets/styles/base.scss";
.card-host {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    mat-card {
        display: flex;
        flex: 0 1 300px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
        // width: 300px;
        height: 400px;
        form {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            .btn-host {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: space-between;
                align-content: space-between;
                margin: 30px;
            }
        }
    }
}